html, body {
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: 'Playfair';
	src:  url('../fonts/PlayfairDisplay-Bold.otf');
}

@font-face {
	font-family: 'Raleway';
	src:  url('../fonts/Raleway-Light.ttf');
}

a {
	text-decoration: none;
}

ul {
  list-style-type: none;
}

nav > a {
	margin-left: 10px;
	margin-right: 10px;
	font-family: 'Raleway';
	font-weight: bold;
	font-size: 14px;
	color: #e67a73;
}

footer {
	background-color: #242424;
}

.nav-bar-top {
	padding: 1rem;
	display: flex;
	justify-content: space-between;
	flex-wrap: ;
	align-items: center;
}

.nbt-logo {
	max-width: 150px;
	align-self: flex-start;
	order: 1;
}

.the-Navigator {
	order: 2;
	align-self: center;
}

.nbt-cart {
	order: 3;
	max-width: 50px;
	align-self: flex-end;
}


#main-banner {
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/flower-bkgd.jpg");
	background-repeat: repeat;
	background-position: center;
	background-size: contain;
	display: flex;
	max-height: 550px;
	height: 550px;
	position: relative;
	line-height: 500px;
	overflow: hidden;
}

.mb-model {
	z-index: 500;
	margin: 0;
	margin-bottom: -100px;
	height: 100%;
	display: flex;
	position: absolute;
	bottom: 0;
	left: 40%;
}


.main-banner-details {
	color: white;
  position: relative;
  z-index: 1000;
  height: 100%;
  width: 50%;
  margin: 0 auto;
}

.mb-title {
	text-align: center;
	vertical-align: text-top;
	line-height: 325px;
	margin: auto;
	top: 0;
	height: 10%;
	font-family: 'Raleway';
	font-weight: bold;
}

.mb-season {
	margin: 0;
	vertical-align: text-top;
	height: 10%;
	line-height: 325px;
	font-family: 'Playfair';
	font-weight: bold;
	font-size: 60px;
}


.cta-banner {
	height: 200px;
	text-align: center;
}

.cta-banner > h5 {
	font-family: 'Playfair';
	font-size: 20px;
}

.cta-banner > p {
	font-family: 'Raleway';
	width: 50%;
	margin: auto;
	font-size: 14px;
}

.hand-crafted {
	font-style: italic;
	font-weight: thin;
}

.dr-row-1 {
	height: 320px;
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex-flow: row wrap;
	justify-content: space-between;
	width: 100%;
}

.directory {
	background-repeat: no-repeat;
	background-size: cover;
}

.directory > h6 {
	text-align: center;
	color: white;
	vertical-align: middle;
	line-height: 300px;
	font-family: 'Raleway';
	font-size: 24px;
	text-transform: uppercase;
	margin: 0;
}

#directory-mens {
	background-image: url("../images/mens-category.jpg");
	height: 100%;
	justify-content: flex-start;
	flex: 2;
	order: 1;
	flex-wrap: wrap;

}


#directory-trends {
	background-image: url("../images/trends-category.jpg");
	height: 100%;	
	justify-content: center;
	flex: 1;
	order: 2;
	flex-wrap: wrap;

}

#directory-glasses {
	background-image: url("../images/glasses-category.jpg");
	height: 100%;
	justify-content: flex-end;
	flex: 1;
	order: 3;
	flex-wrap: wrap;

}


.dr-row-2 {
	height: 320px;
	display: inline-flex;
	flex-direction: row;
	width: 100%;
}


#directory-sale {
	background-image: url("../images/sale-category.jpg");
	justify-content: flex-start;
	flex: 1;
	order: 1;
}

#directory-bags {
	background-image: url("../images/bags-category.jpg");
	justify-content: center;
	flex: 1;
	order: 2;
}

#directory-womens {
	background-image: url("../images/womens-category.jpg");
	justify-content: flex-end;
	flex: 2;
	order: 3;
}

.lc-header {
	display: table;
	margin: auto;
}

.lc-header > h5 {
	font-family: 'Playfair';
	font-size: 20px;
}

.most-loved {
	text-decoration: italic;
}



.lc-Row {
	width: 100%;
	margin: auto;
	display: flex;
	flex-direction: row;
}

.loved-item {
	width: 25%;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.lcr-category {
	font-family: 'Raleway';
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
	color: #949494;
}

.lcr-product-name {
	font-family: 'Playfair';
	font-size: 20px;
	font-weight: lighter;
	color: #e05a53;
	margin: 0;
}

.lcr-price {
	font-family: 'Raleway';
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
	color: #949494;
}

.updates-banner-container {
	background-image: url("../images/wave-bkgd.jpg");
	background-repeat: no-repeat;	
	background-position: center bottom;
	height: 350px;
	width: 100%;
	display: table;
	position: relative;
	overflow: hidden;
}


.update-details {
	flex-direction: column;
	justify-content: center;
	width: 50%;
  margin: 0 auto;
  display: table-cell;
  vertical-align: middle;
}

.update-details > h5 {
	font-family: 'Playfair';
	font-size: 35px;
	color: white;
	margin: 0;
	text-align: center;
}

.update-details > p {
	font-family: 'Raleway';
	font-size: 12px;
	color: white;
	text-align: center;
	width: 50%
	margin: auto;
}

.subscribe {
	text-align: center;
}

.subscribe-input {
	border-radius: 25px;
	width: 20%;
	height: 25px;
	padding-right: 75px;
}

.subscribe-button {
	background-color: #e05851;
	color: white;
	font-family: 'Raleway';
	height: 25px;
	border-radius: 25px;
	border-color: #e05851;
	margin-left: -75px;
}

#footer {
	display: flex;
	flex-direction: row;

}

.footer-container {
	width: 100%;	
		display: flex;
	flex-direction: row;
}

.ftr-left {
	display: flex;
	flex-direction: column;
	flex: 2;
	justify-content: flex-start;
	align-items: flex-start;
	margin-left: 10px;
	color: white;
}

.ftr-right {
	display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex: 1;
  margin-right: 10px;
  color: white;
}

.ftr-address {
	color: #383838;
}

.ftr-text {
	text-align: left;
}

.fa {
	margin-right: 10px;
}
